In [ ]:
#import pandas as pd
#directors = pd.read_csv("C:/Users/maxle/Desktop/Database/DB/db2018imdb/actors.csv")
#chunksize = 10 ** 8
#for chunk in pd.read_csv(filename, chunksize=chunksize):
 #   chunk.applymap(lambda x: x.replace(';',''))

In [2]:
import pandas as pd

In [6]:
#actors = pd.read_csv("C:/Users/Max/Documents/cs322-database/db2018imdb/actors.csv")
#directors = pd.read_csv("C:/Users/Max/Documents/cs322-database/db2018imdb/directors.csv")
#writers = pd.read_csv("C:/Users/Max/Documents/cs322-database/db2018imdb/writers.csv")
#producers = pd.read_csv("C:/Users/Max/Documents/cs322-database/db2018imdb/producers.csv")

#directors = pd.read_csv("C:/Users/maxle/Desktop/Database/DB/db2018imdb/directors.csv")
#directors = pd.read_csv("C:/Users/maxle/Desktop/Database/DB/db2018imdb/producers.csv") #producers
directors = pd.read_csv("C:/Users/maxle/Desktop/Database/DB/db2018imdb/actors.csv")
#directors = pd.read_csv("C:/Users/maxle/Desktop/Database/DB/db2018imdb/writers.csv")
#directors = pd.read_csv("C:/Users/maxle/Desktop/Database/Expanded/expanded_actors.csv")

In [7]:
directors.head()

,FullName,ClipIds,Chars,OrdersCredit,AddInfos
0,$ Homo,[1057981],[Himself],[25],[]
1,'Avacado' Wolfe David,[1469364],[Himself],[],[]
2,'babeepower' Viera Michael,[1223831|2812626|3775221|4016759],[Stevie|Himself|Young Leo|Various/lyricist],[|||],[|as Michael 'Power' Viera||]
3,'Bear'Boyd Steven,[1538400],[Defensive Tackle - Washington Sentinels],[],[uncredited]
4,'Boogie' Brown Steve,[151651],[Fishing Competitor],[28],[]

In [8]:
directors = directors.applymap(lambda x: x.replace('[',''))
directors = directors.applymap(lambda x: x.replace(']',''))
directors.head()

,FullName,ClipIds,Chars,OrdersCredit,AddInfos
0,$ Homo,1057981,Himself,25,
1,'Avacado' Wolfe David,1469364,Himself,,
2,'babeepower' Viera Michael,1223831|2812626|3775221|4016759,Stevie|Himself|Young Leo|Various/lyricist,|||,|as Michael 'Power' Viera||
3,'Bear'Boyd Steven,1538400,Defensive Tackle - Washington Sentinels,,uncredited
4,'Boogie' Brown Steve,151651,Fishing Competitor,28,

In [9]:
directors = directors.applymap(lambda x: x.split('|'))
directors.head()

,FullName,ClipIds,Chars,OrdersCredit,AddInfos
0,[$ Homo],[1057981],[Himself],[25],[]
1,['Avacado' Wolfe David],[1469364],[Himself],[],[]
2,['babeepower' Viera Michael],"[1223831, 2812626, 3775221, 4016759]","[Stevie, Himself, Young Leo, Various/lyricist]","[, , , ]","[, as Michael 'Power' Viera, , ]"
3,['Bear'Boyd Steven],[1538400],[Defensive Tackle - Washington Sentinels],[],[uncredited]
4,['Boogie' Brown Steve],[151651],[Fishing Competitor],[28],[]

In [11]:
%%time
new_dir = []
for index, row in directors.iterrows() :
    for i in range(len(row['ClipIds'])) :
        #new_dir.append((row['FullName'][0], row['ClipIds'][i], row['Roles'][i], row['AddInfos'][i]))
        new_dir.append((row['FullName'][0], row['ClipIds'][i], row['Chars'][i], row['OrdersCredit'][i], row['AddInfos'][i]))
        #new_dir.append((row['FullName'][0], row['ClipIds'][i], row['WorkTypes'][i], row['Roles'][i], row['AddInfos'][i]))
        
        #new_dir.append({'FullName' : row['FullName'][0], 'ClipId' : row['ClipIds'][i], 'Role' : row['Roles'][i],'AddInfos' : row['AddInfos'][i]})
        #print(row['FullName'][0], row['ClipIds'][i], row['Roles'][i], row['AddInfos'][i])
        
#dirs = pd.DataFrame(new_dir, columns = ['FullName', 'ClipId', 'Role', 'AddInfos'] )
dirs = pd.DataFrame(new_dir, columns = ['FullName', 'ClipId', 'Char', 'OrderCredit', 'AddInfos'] )
#dirs = pd.DataFrame(new_dir, columns = ['FullName', 'ClipId', 'WorkType', 'Role', 'AddInfos'] )

Wall time: 47 ms

In [12]:
#dirs.to_csv("expanded_directors.csv", index=False)
dirs.to_csv("test_actors.csv", index=False)