In [1]:
import pandas as pd

In [17]:
file = pd.read_csv("C:/Users/maxle/Desktop/Database/Milestone3/expanded_writers.csv")

In [18]:
file.head()

,FullName,ClipId,Role,AddInfos,WorkType
0,'Abd Al-Hamid Ja'far,51264,NaN,written for the screen by,NaN
1,'Abd Al-Hamid Ja'far,742507,writer,NaN,NaN
2,'Abd Al-Hamid Ja'far,960777,written by,NaN,NaN
3,'babeepower' Viera Michael,4016759,NaN,2000,NaN
4,'t Hart Maarten,338267,NaN,"novel ""Die Sonnenuhr""",NaN

In [19]:
ids = pd.read_pickle("C:/Users/maxle/Desktop/Database/Milestone3/namesDictionnary.pkl")

In [20]:
file['personid'] = file['FullName'].map(ids)

In [21]:
file.head()

,FullName,ClipId,Role,AddInfos,WorkType,personid
0,'Abd Al-Hamid Ja'far,51264,NaN,written for the screen by,NaN,3
1,'Abd Al-Hamid Ja'far,742507,writer,NaN,NaN,3
2,'Abd Al-Hamid Ja'far,960777,written by,NaN,NaN,3
3,'babeepower' Viera Michael,4016759,NaN,2000,NaN,56
4,'t Hart Maarten,338267,NaN,"novel ""Die Sonnenuhr""",NaN,61

In [22]:
file[file['personid'].isnull()]

Empty DataFrame
Columns: [FullName, ClipId, Role, AddInfos, WorkType, personid]
Index: []

In [23]:
file.shape

(2002740, 6)

In [24]:
file = file.dropna(subset = ['personid'])
file.shape

(2002740, 6)

In [25]:
#file['personid'] = file['personid'].map(int)

In [26]:
file['writesroleid'] = file.index

In [27]:
file.head()

,FullName,ClipId,Role,AddInfos,WorkType,personid,writesroleid
0,'Abd Al-Hamid Ja'far,51264,NaN,written for the screen by,NaN,3,0
1,'Abd Al-Hamid Ja'far,742507,writer,NaN,NaN,3,1
2,'Abd Al-Hamid Ja'far,960777,written by,NaN,NaN,3,2
3,'babeepower' Viera Michael,4016759,NaN,2000,NaN,56,3
4,'t Hart Maarten,338267,NaN,"novel ""Die Sonnenuhr""",NaN,61,4

In [28]:
file.columns = ['fullname','clipid', 'role', 'addinfo', 'worktype', 'personid', 'writesroleid']
file.head()

,fullname,clipid,role,addinfo,worktype,personid,writesroleid
0,'Abd Al-Hamid Ja'far,51264,NaN,written for the screen by,NaN,3,0
1,'Abd Al-Hamid Ja'far,742507,writer,NaN,NaN,3,1
2,'Abd Al-Hamid Ja'far,960777,written by,NaN,NaN,3,2
3,'babeepower' Viera Michael,4016759,NaN,2000,NaN,56,3
4,'t Hart Maarten,338267,NaN,"novel ""Die Sonnenuhr""",NaN,61,4

In [29]:
file['role'] = file['role'].fillna('unknown')
file['worktype'] = file['worktype'].fillna('unknown')
file['addinfo'] = file['addinfo'].fillna('')
file.head()

,fullname,clipid,role,addinfo,worktype,personid,writesroleid
0,'Abd Al-Hamid Ja'far,51264,unknown,written for the screen by,unknown,3,0
1,'Abd Al-Hamid Ja'far,742507,writer,,unknown,3,1
2,'Abd Al-Hamid Ja'far,960777,written by,,unknown,3,2
3,'babeepower' Viera Michael,4016759,unknown,2000,unknown,56,3
4,'t Hart Maarten,338267,unknown,"novel ""Die Sonnenuhr""",unknown,61,4

In [30]:
file2 = file[['writesroleid', 'role', 'worktype', 'addinfo']].copy()
file2.head()

   writesroleid        role worktype                    addinfo
0             0     unknown  unknown  written for the screen by
1             1      writer  unknown
2             2  written by  unknown
3             3     unknown  unknown                       2000
4             4     unknown  unknown      novel "Die Sonnenuhr"

In [31]:
file2.to_csv("writesroles.csv", index=False, encoding='utf-8')

In [32]:
file = file.drop(['addinfo', 'role', 'fullname', 'worktype'], axis=1)
file.head()

    clipid  personid  writesroleid
0    51264         3             0
1   742507         3             1
2   960777         3             2
3  4016759        56             3
4   338267        61             4

In [33]:
file = file[['personid', 'clipid', 'writesroleid']]
file.head()

   personid   clipid  writesroleid
0         3    51264             0
1         3   742507             1
2         3   960777             2
3        56  4016759             3
4        61   338267             4

In [34]:
file.to_csv("writes.csv", index=False, encoding='utf-8')